In [1]:
import requests
import json
from bs4 import BeautifulSoup as bs
import pandas as pd
from collections import Counter
import os
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup as bs
import pandas as pd
from collections import Counter

In [2]:
df = pd.read_csv('./기상청통합.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_10772\2462386211.py:1: DtypeWarning: Columns (61) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./기상청통합.csv')

In [3]:
df

,Unnamed: 0,stnId,stnNm,tm,avgTa,minTa,minTaHrmt,maxTa,maxTaHrmt,mi10MaxRn,...,avgM05Te,avgM10Te,avgM15Te,avgM30Te,avgM50Te,sumLrgEv,sumSmlEv,n99Rn,iscs,sumFogDur
0,0,90,속초,2017-01-01,6.0,1.5,639.0,9.8,1224.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,90,속초,2017-01-02,8.2,4.7,2243.0,10.5,1402.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,90,속초,2017-01-03,6.2,1.7,701.0,11.3,1344.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,90,속초,2017-01-04,5.6,1.7,2237.0,9.8,1114.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,90,속초,2017-01-05,2.8,1.3,59.0,4.0,1101.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173530,173530,211,인제,2021-12-27,-9.7,-15.4,354.0,-4.3,1352.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173531,173531,211,인제,2021-12-28,-4.2,-12.5,501.0,1.8,1507.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173532,173532,211,인제,2021-12-29,0.3,-5.5,440.0,3.6,1209.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173533,173533,211,인제,2021-12-30,-3.6,-6.3,2359.0,-0.5,1418.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173534,173534,211,인제,2021-12-31,-7.7,-11.9,736.0,-3.5,1531.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
del df['Unnamed: 0']

In [5]:
df

,stnId,stnNm,tm,avgTa,minTa,minTaHrmt,maxTa,maxTaHrmt,mi10MaxRn,mi10MaxRnHrmt,...,avgM05Te,avgM10Te,avgM15Te,avgM30Te,avgM50Te,sumLrgEv,sumSmlEv,n99Rn,iscs,sumFogDur
0,90,속초,2017-01-01,6.0,1.5,639.0,9.8,1224.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90,속초,2017-01-02,8.2,4.7,2243.0,10.5,1402.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90,속초,2017-01-03,6.2,1.7,701.0,11.3,1344.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90,속초,2017-01-04,5.6,1.7,2237.0,9.8,1114.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90,속초,2017-01-05,2.8,1.3,59.0,4.0,1101.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173530,211,인제,2021-12-27,-9.7,-15.4,354.0,-4.3,1352.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173531,211,인제,2021-12-28,-4.2,-12.5,501.0,1.8,1507.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173532,211,인제,2021-12-29,0.3,-5.5,440.0,3.6,1209.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173533,211,인제,2021-12-30,-3.6,-6.3,2359.0,-0.5,1418.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173534,211,인제,2021-12-31,-7.7,-11.9,736.0,-3.5,1531.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_codenn = pd.read_csv('./df_codenn.csv', encoding='euc-kr')

In [8]:
df_codenn

    Unnamed: 0   지점  지점명     관리관서    도  지점명1
0            0   90   속초  강원지방기상청   강원   강원도
1            1  212   홍천    춘천기상대   춘천   강원도
2            2   93  북춘천    춘천기상대   춘천   강원도
3            3  216   태백  강원지방기상청   강원   강원도
4            4   95   철원  강원지방기상청   강원   강원도
..         ...  ...  ...      ...  ...   ...
90          90  192   진주    창원기상대   창원  경상남도
91          91  201   강화    인천기상대   인천   인천시
92          92  202   양평   수도권기상청  수도권   경기도
93          93  203   이천   수도권기상청  수도권   경기도
94          94  211   인제  강원지방기상청   강원   강원도

[95 rows x 6 columns]

In [9]:
df['지점명'] = df['stnId']

In [10]:
df

,stnId,stnNm,tm,avgTa,minTa,minTaHrmt,maxTa,maxTaHrmt,mi10MaxRn,mi10MaxRnHrmt,...,avgM10Te,avgM15Te,avgM30Te,avgM50Te,sumLrgEv,sumSmlEv,n99Rn,iscs,sumFogDur,지점명
0,90,속초,2017-01-01,6.0,1.5,639.0,9.8,1224.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90
1,90,속초,2017-01-02,8.2,4.7,2243.0,10.5,1402.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90
2,90,속초,2017-01-03,6.2,1.7,701.0,11.3,1344.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90
3,90,속초,2017-01-04,5.6,1.7,2237.0,9.8,1114.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90
4,90,속초,2017-01-05,2.8,1.3,59.0,4.0,1101.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173530,211,인제,2021-12-27,-9.7,-15.4,354.0,-4.3,1352.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211
173531,211,인제,2021-12-28,-4.2,-12.5,501.0,1.8,1507.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211
173532,211,인제,2021-12-29,0.3,-5.5,440.0,3.6,1209.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211
173533,211,인제,2021-12-30,-3.6,-6.3,2359.0,-0.5,1418.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211
173534,211,인제,2021-12-31,-7.7,-11.9,736.0,-3.5,1531.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211

In [27]:
search_ls = {
90:'속초','212':'홍천',
'93':'북춘천','216':'태백',
'95':'철원','217':'정선군',
'98':'동두천','221':'제천',
'99':'파주','226':'보은',
'100':'대관령','232':'천안',
'101':'춘천','235':'보령',
'102':'백령도','236':'부여',
'104':'북강릉','238':'금산',
'105':'강릉','239':'세종',
'106':'동해','243':'부안',
'108':'서울','244':'임실',
'112':'인천','245':'정읍',
'114':'원주','247':'남원',
'115':'울릉도','248':'장수',
    
'119':'수원','251':'고창군',
'121':'영월','252':'영광군',
'127':'충주','253':'김해시',
'129':'서산','254':'순창군',
'130':'울진','255':'북창원',
'131':'청주','257':'양산시',
'133':'대전','258':'보성군',
'135':'추풍령','259':'강진군',
'136':'안동','260':'장흥',
'137':'상주','261':'해남',
'138':'포항','262':'고흥',
'140':'군산','263':'의령군',
'143':'대구','264':'함양군',
'146':'전주','266':'광양시',
'152':'울산','268':'진도군',
'155':'창원','271':'봉화',
'156':'광주','272':'영주',
'159':'부산','273':'문경',

'162':'통영','276':'청송군',
'165':'목포','277':'영덕',
'168':'여수','278':'의성',
'169':'흑산도','279':'구미',
'170':'완도','281':'영천',
'172':'고창','283':'경주시',
'174':'순천','284':'거창',
'177':'홍성','285':'합천',
'184':'제주','288':'밀양',
'185':'고산','289':'산청',
'188':'성산','294':'거제',
'189':'서귀포','295':'남해',
'192':'진주',
'201':'강화',
'202':'양평',
'203':'이천',
'211':'인제',
}

In [12]:
df['지점명'].map(search_ls)

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
173530    NaN
173531    NaN
173532    NaN
173533    NaN
173534    NaN
Name: 지점명, Length: 173535, dtype: object

In [14]:
df['지점명'][0].map(search_ls)

AttributeError: 'numpy.int64' object has no attribute 'map'

In [15]:
df.dtypes

stnId          int64
stnNm         object
tm            object
avgTa        float64
minTa        float64
              ...
sumSmlEv     float64
n99Rn        float64
iscs          object
sumFogDur    float64
지점명            int64
Length: 63, dtype: object

In [16]:
df['지점명'].astype('object')

0          90
1          90
2          90
3          90
4          90
         ...
173530    211
173531    211
173532    211
173533    211
173534    211
Name: 지점명, Length: 173535, dtype: object

In [17]:
df['지점명'] = df['지점명'].astype('object')

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
173530    NaN
173531    NaN
173532    NaN
173533    NaN
173534    NaN
Name: 지점명, Length: 173535, dtype: object

In [21]:
df['지점명'][0]

90

In [22]:
type(df['지점명'][0])

int

In [23]:
df.dtypes

stnId          int64
stnNm         object
tm            object
avgTa        float64
minTa        float64
              ...
sumSmlEv     float64
n99Rn        float64
iscs          object
sumFogDur    float64
지점명           object
Length: 63, dtype: object

In [25]:
df['지점명'][:5]

0    90
1    90
2    90
3    90
4    90
Name: 지점명, dtype: object

In [28]:
df['지점명'][:5].map(search_ls)

0    속초
1    속초
2    속초
3    속초
4    속초
Name: 지점명, dtype: object