In [46]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
from glob import glob
from datetime import datetime
import xlwt

plt.rcParams['font.family'] = 'Malgun Gothic' # 한글 폰트 설정
plt.rc('axes', unicode_minus=False) # 유니코드에서  음수 부호설정

In [4]:
files = glob('./data/*.xls')
files

['./data\\서울시 구별 주유비 (1).xls',
 './data\\서울시 구별 주유비 (10).xls',
 './data\\서울시 구별 주유비 (11).xls',
 './data\\서울시 구별 주유비 (12).xls',
 './data\\서울시 구별 주유비 (13).xls',
 './data\\서울시 구별 주유비 (14).xls',
 './data\\서울시 구별 주유비 (15).xls',
 './data\\서울시 구별 주유비 (16).xls',
 './data\\서울시 구별 주유비 (17).xls',
 './data\\서울시 구별 주유비 (18).xls',
 './data\\서울시 구별 주유비 (19).xls',
 './data\\서울시 구별 주유비 (2).xls',
 './data\\서울시 구별 주유비 (20).xls',
 './data\\서울시 구별 주유비 (21).xls',
 './data\\서울시 구별 주유비 (22).xls',
 './data\\서울시 구별 주유비 (23).xls',
 './data\\서울시 구별 주유비 (24).xls',
 './data\\서울시 구별 주유비 (25).xls',
 './data\\서울시 구별 주유비 (26).xls',
 './data\\서울시 구별 주유비 (3).xls',
 './data\\서울시 구별 주유비 (4).xls',
 './data\\서울시 구별 주유비 (5).xls',
 './data\\서울시 구별 주유비 (6).xls',
 './data\\서울시 구별 주유비 (7).xls',
 './data\\서울시 구별 주유비 (8).xls',
 './data\\서울시 구별 주유비 (9).xls']

In [8]:
pd.read_excel(files[0], header=2).head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,2143,1825,1858,-
1,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1835,1901,-
2,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,02-3462-5215,N,2158,1840,1873,1700
3,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,2076,1850,1898,-
4,서울특별시,에쓰-오일㈜직영 개나리주유소,서울 강남구 언주로 423 (역삼동),S-OIL,02-564-0187,N,2059,1859,1969,-

In [15]:
%time
res = []
for i in files:
    tmp = pd.read_excel(i, header=2)
    res.append(tmp)

CPU times: total: 0 ns
Wall time: 0 ns

In [11]:
len(res)

26

In [16]:
%time
res = [pd.read_excel(i, header=2) for i in files]

CPU times: total: 0 ns
Wall time: 0 ns

In [13]:
len(res)

26

In [19]:
df_raw = pd.concat(res)
df_raw

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,2143,1825,1858,-
1,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1835,1901,-
2,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,02-3462-5215,N,2158,1840,1873,1700
3,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,2076,1850,1898,-
4,서울특별시,에쓰-오일㈜직영 개나리주유소,서울 강남구 언주로 423 (역삼동),S-OIL,02-564-0187,N,2059,1859,1969,-
...,...,...,...,...,...,...,...,...,...,...
10,서울특별시,남선석유(주)구도일주유소 불암,서울 노원구 한글비석로 268 (중계동),S-OIL,02-932-6850,Y,-,1869,1929,-
11,서울특별시,신성주유소,서울 노원구 월계로 328 (월계동),S-OIL,02-916-4334,Y,-,1898,1988,-
12,서울특별시,노원주유소,서울 노원구 동일로 1008 (공릉동),GS칼텍스,02-949-5151,N,-,1929,1998,1600
13,서울특별시,하계삼호주유소,서울 노원구 공릉로 294 (하계동),GS칼텍스,02-974-8818,N,-,1985,2145,-
14,서울특별시,상계동주유소,서울 노원구 노원로26길 191 (상계동),현대오일뱅크,02-936-5035,N,-,1985,2100,1950

In [20]:
df_raw.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,2143,1825,1858,-
1,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1835,1901,-
2,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,02-3462-5215,N,2158,1840,1873,1700
3,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,2076,1850,1898,-
4,서울특별시,에쓰-오일㈜직영 개나리주유소,서울 강남구 언주로 423 (역삼동),S-OIL,02-564-0187,N,2059,1859,1969,-
...,...,...,...,...,...,...,...,...,...,...
10,서울특별시,남선석유(주)구도일주유소 불암,서울 노원구 한글비석로 268 (중계동),S-OIL,02-932-6850,Y,-,1869,1929,-
11,서울특별시,신성주유소,서울 노원구 월계로 328 (월계동),S-OIL,02-916-4334,Y,-,1898,1988,-
12,서울특별시,노원주유소,서울 노원구 동일로 1008 (공릉동),GS칼텍스,02-949-5151,N,-,1929,1998,1600
13,서울특별시,하계삼호주유소,서울 노원구 공릉로 294 (하계동),GS칼텍스,02-974-8818,N,-,1985,2145,-
14,서울특별시,상계동주유소,서울 노원구 노원로26길 191 (상계동),현대오일뱅크,02-936-5035,N,-,1985,2100,1950

In [23]:
df_raw = df_raw.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

In [24]:
len(df_raw)

454

In [25]:
df_raw.reset_index(drop=True)

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,2143,1825,1858,-
1,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1835,1901,-
2,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,02-3462-5215,N,2158,1840,1873,1700
3,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,2076,1850,1898,-
4,서울특별시,에쓰-오일㈜직영 개나리주유소,서울 강남구 언주로 423 (역삼동),S-OIL,02-564-0187,N,2059,1859,1969,-
...,...,...,...,...,...,...,...,...,...,...
449,서울특별시,남선석유(주)구도일주유소 불암,서울 노원구 한글비석로 268 (중계동),S-OIL,02-932-6850,Y,-,1869,1929,-
450,서울특별시,신성주유소,서울 노원구 월계로 328 (월계동),S-OIL,02-916-4334,Y,-,1898,1988,-
451,서울특별시,노원주유소,서울 노원구 동일로 1008 (공릉동),GS칼텍스,02-949-5151,N,-,1929,1998,1600
452,서울특별시,하계삼호주유소,서울 노원구 공릉로 294 (하계동),GS칼텍스,02-974-8818,N,-,1985,2145,-
453,서울특별시,상계동주유소,서울 노원구 노원로26길 191 (상계동),현대오일뱅크,02-936-5035,N,-,1985,2100,1950

In [27]:
df_raw = df_raw.reset_index(drop=True)
df_raw

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,2143,1825,1858,-
1,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1835,1901,-
2,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,02-3462-5215,N,2158,1840,1873,1700
3,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,2076,1850,1898,-
4,서울특별시,에쓰-오일㈜직영 개나리주유소,서울 강남구 언주로 423 (역삼동),S-OIL,02-564-0187,N,2059,1859,1969,-
...,...,...,...,...,...,...,...,...,...,...
449,서울특별시,남선석유(주)구도일주유소 불암,서울 노원구 한글비석로 268 (중계동),S-OIL,02-932-6850,Y,-,1869,1929,-
450,서울특별시,신성주유소,서울 노원구 월계로 328 (월계동),S-OIL,02-916-4334,Y,-,1898,1988,-
451,서울특별시,노원주유소,서울 노원구 동일로 1008 (공릉동),GS칼텍스,02-949-5151,N,-,1929,1998,1600
452,서울특별시,하계삼호주유소,서울 노원구 공릉로 294 (하계동),GS칼텍스,02-974-8818,N,-,1985,2145,-
453,서울특별시,상계동주유소,서울 노원구 노원로26길 191 (상계동),현대오일뱅크,02-936-5035,N,-,1985,2100,1950

In [28]:
from datetime import datetime

In [29]:
datetime.today()

datetime.datetime(2022, 8, 12, 14, 43, 37, 260324)

In [30]:
date = str(datetime.today().year) + str(datetime.today().month) + str(datetime.today().day)

In [31]:
date

'2022812'

In [32]:
df_raw['날짜'] = date

In [33]:
df_raw

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유,날짜
0,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,2143,1825,1858,-,2022812
1,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1835,1901,-,2022812
2,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,02-3462-5215,N,2158,1840,1873,1700,2022812
3,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,2076,1850,1898,-,2022812
4,서울특별시,에쓰-오일㈜직영 개나리주유소,서울 강남구 언주로 423 (역삼동),S-OIL,02-564-0187,N,2059,1859,1969,-,2022812
...,...,...,...,...,...,...,...,...,...,...,...
449,서울특별시,남선석유(주)구도일주유소 불암,서울 노원구 한글비석로 268 (중계동),S-OIL,02-932-6850,Y,-,1869,1929,-,2022812
450,서울특별시,신성주유소,서울 노원구 월계로 328 (월계동),S-OIL,02-916-4334,Y,-,1898,1988,-,2022812
451,서울특별시,노원주유소,서울 노원구 동일로 1008 (공릉동),GS칼텍스,02-949-5151,N,-,1929,1998,1600,2022812
452,서울특별시,하계삼호주유소,서울 노원구 공릉로 294 (하계동),GS칼텍스,02-974-8818,N,-,1985,2145,-,2022812
453,서울특별시,상계동주유소,서울 노원구 노원로26길 191 (상계동),현대오일뱅크,02-936-5035,N,-,1985,2100,1950,2022812

In [34]:
datetime.today().strftime("%Y%m%d")

'20220812'

In [35]:
type(datetime.today().strftime("%Y%m%d"))

str

In [36]:
datetime.today()

datetime.datetime(2022, 8, 12, 14, 48, 26, 305861)

In [37]:
date = str(datetime.today().year) + '-' + str(datetime.today().month) + '-' + str(datetime.today().day)
date = datetime.strptime(date, '%Y-%m-%d')

In [38]:
date

datetime.datetime(2022, 8, 12, 0, 0)

In [39]:
type(date)

datetime.datetime

In [40]:
print(date)

2022-08-12 00:00:00

In [41]:
datetime.now().date()

datetime.date(2022, 8, 12)

In [42]:
df_raw['날짜'] = datetime.now().date()

In [43]:
df_raw.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유,날짜
0,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,2143,1825,1858,-,2022-08-12
1,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1835,1901,-,2022-08-12
2,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,02-3462-5215,N,2158,1840,1873,1700,2022-08-12
3,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,2076,1850,1898,-,2022-08-12
4,서울특별시,에쓰-오일㈜직영 개나리주유소,서울 강남구 언주로 423 (역삼동),S-OIL,02-564-0187,N,2059,1859,1969,-,2022-08-12

In [47]:
df_raw.to_excel('./data/통합.xls')

C:\Users\user\AppData\Local\Temp\ipykernel_6488\3896570843.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df_raw.to_excel('./data/통합.xls')

In [45]:
!pip install xlwt

Collecting xlwt
  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
     -------------------------------------- 100.0/100.0 kB 5.6 MB/s eta 0:00:00
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0