### 이미지정보에 대한 csv 자료가 있는경우
- 배포하는 곳에서는 폴더내의 정보를 csv로 기록해서 csv 정보를 배포해야함.
- 이 csv정보를 이용하여서 사용자는 레이블 작업을 진행함.

### [1] 직접 csv 자료를 제작하여봄.
- 이미지와 함께 배포되는 이미지정보.csv 자료를 직접 제작하여 봄
- 만약 이미지만 제공될때 일부러 csv정보를 제작할 필요는 없음.
    - 앞의 1,2,번 작업만 진행해도 됨

In [7]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from glob import glob

dataList=[]
folderList=glob('./clothes_dataset/*')

for folder in folderList:
    fileList=glob(folder + '/*.jpg')

    for file in fileList:
        
        fileName=file
        tmp=folder.split('\\')[-1]     # 
        colorName=tmp.split('_')[0]
        categoryName=tmp.split('_')[1]

        dataList.append({'Name':fileName,
                        'colrName':colorName,
                        'category':categoryName})


df=pd.DataFrame(dataList)

In [8]:
df

                                                    Name colrName category
0      ./clothes_dataset\black_dress\0097960878307e55...    black    dress
1      ./clothes_dataset\black_dress\038098f911bf3045...    black    dress
2      ./clothes_dataset\black_dress\0522170fba54aa3e...    black    dress
3      ./clothes_dataset\black_dress\0561718aec3cca98...    black    dress
4      ./clothes_dataset\black_dress\06130b80c92914dc...    black    dress
...                                                  ...      ...      ...
11380  ./clothes_dataset\white_shorts\f0be9c6655655fe...    white   shorts
11381  ./clothes_dataset\white_shorts\f35256887334f9f...    white   shorts
11382  ./clothes_dataset\white_shorts\f50bf2c5e771f73...    white   shorts
11383  ./clothes_dataset\white_shorts\fb625925bc55cd5...    white   shorts
11384  ./clothes_dataset\white_shorts\fd76a8fe7e6c5d2...    white   shorts

[11385 rows x 3 columns]

In [15]:
# pd.get_dummies(df[['colrName','category'])    ==> 지정한 필드만 출력
df=pd.get_dummies(df, columns=['colrName','category'])  # =>  전체데이터중 columns에 있는 필드만 처리되어서 모든 필드 다 출력

In [16]:
df

,Name,colrName_black,colrName_blue,colrName_brown,colrName_green,colrName_red,colrName_white,category_dress,category_pants,category_shirt,category_shoes,category_shorts
0,./clothes_dataset\black_dress\0097960878307e55...,1,0,0,0,0,0,1,0,0,0,0
1,./clothes_dataset\black_dress\038098f911bf3045...,1,0,0,0,0,0,1,0,0,0,0
2,./clothes_dataset\black_dress\0522170fba54aa3e...,1,0,0,0,0,0,1,0,0,0,0
3,./clothes_dataset\black_dress\0561718aec3cca98...,1,0,0,0,0,0,1,0,0,0,0
4,./clothes_dataset\black_dress\06130b80c92914dc...,1,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
11380,./clothes_dataset\white_shorts\f0be9c6655655fe...,0,0,0,0,0,1,0,0,0,0,1
11381,./clothes_dataset\white_shorts\f35256887334f9f...,0,0,0,0,0,1,0,0,0,0,1
11382,./clothes_dataset\white_shorts\f50bf2c5e771f73...,0,0,0,0,0,1,0,0,0,0,1
11383,./clothes_dataset\white_shorts\fb625925bc55cd5...,0,0,0,0,0,1,0,0,0,0,1
11384,./clothes_dataset\white_shorts\fd76a8fe7e6c5d2...,0,0,0,0,0,1,0,0,0,0,1

In [21]:
df.columns=['Name', 'black', 'blue', 'brown', 'green', 'red', 'white', 'dress','pants', 'shirt', 'shoes','shorts']
df.head()

,Name,black,blue,brown,green,red,white,dress,pants,shirt,shoes,shorts
0,./clothes_dataset\black_dress\0097960878307e55...,1,0,0,0,0,0,1,0,0,0,0
1,./clothes_dataset\black_dress\038098f911bf3045...,1,0,0,0,0,0,1,0,0,0,0
2,./clothes_dataset\black_dress\0522170fba54aa3e...,1,0,0,0,0,0,1,0,0,0,0
3,./clothes_dataset\black_dress\0561718aec3cca98...,1,0,0,0,0,0,1,0,0,0,0
4,./clothes_dataset\black_dress\06130b80c92914dc...,1,0,0,0,0,0,1,0,0,0,0

In [22]:
df.to_csv('data_info.csv')